/* CSS basics styles for our FAQs */

.faq-list {
	list-style-type: none;
	padding: 0;
}

.faq-list--title {
}

.faq-list--title:hover,
.faq-list--title:focus {
	opacity: .7;
	cursor: pointer;
}

.faq-list--question {
	list-style-type: none;
}

.faq-list--question::before {
	content: "▸"; 
	display: inline-block; 
	margin-right: .25em;
	transition: transform .2s ease-in-out;
}
.faq-list--question.faq-on::before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.faq-list--answer {
	margin: .5em 0;
	padding-left: 1em;
	display: none;
}